nbproject
._*
.vagrant
.~lock.*
.buildpath
.DS_Store
.idea
.project
.nbproject
.settings
composer.lock
/vendor/
/eve-skylizer.wiki/
/ressource/db_model.mwb.bak
/ressource/private/
/bin/example.php
/snippets/