RewriteEngine On

##
## Maintenance mode
## to enable create a maintenance.html into /public
## this application offers to rename _maintenance.html to maintenance.html in order to
## activate a maintenance page
## 
RewriteCond %{REMOTE_ADDR} !^178\.202\.182\.90
RewriteCond %{REQUEST_URI} !maintenance.html$ [NC]
RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
# Check if the maintenance.html file exists,
# if so, redirect all requests to that file.
RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
RewriteRule .* /maintenance.html [R=503,L]
ErrorDocument 503 /maintenance.html

# The following rule tells Apache that if the requested filename
# exists, simply serve it.
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [L]
# The following rewrites all other queries to index.php. The 
# condition ensures that if you are using Apache aliases to do
# mass virtual hosting or installed the project in a subdirectory,
# the base path will be prepended to allow proper resolution of
# the index.php file; it will work in non-aliased environments
# as well, providing a safe, one-size fits all solution.
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]
RewriteRule ^(.*)$ %{ENV:BASE}/index.php [L]
