<?php
/**
 * rename this file to development.config.php in order to enable development mode
 */

return [
    // Additional modules to include when in development mode
    'modules' => [
        'Laminas\DeveloperTools',
		'SanSessionToolbar',
    ],
    // Configuration overrides during development mode
    'module_listener_options' => [
        'config_glob_paths' => [realpath(__DIR__) . '/autoload/{,*.}{global,local}-development.php'],
        'config_cache_enabled' => false,
        'module_map_cache_enabled' => false,
    ],
];
